<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="Styles/style_cadastrar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Logo fora do container, no topo -->

    <div class="cadastro-container">
        <h2>Cadastro</h2>
        <form action="http://localhost:3000/usuarios/cadastro" method="POST">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" id="username" name="username" placeholder="Nome Completo" required>
            </div>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Senha" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar Senha" required>
            </div>
            <button id="btn_cadastrar">Cadastrar</button>
        </form>
        <p class="login-text">Já tem uma conta? <a href="/pages/index_login.html">Login</a></p>
    </div>

    
</body>
</html>
