/* css de containers e responsibidade */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2c2c2c, #1a1a1a);
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo {
    margin-top: -200px;
    width: 200px; /* Ajuste conforme necessário */
    height: auto;
}

.login-container {
    background: #3a3a3a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(500, 500, 24, 0.5);
    text-align: center;
    width: 400px;
    margin-top: 40px; /* Distância do topo */
}

h2 {
    color: white;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    background: #555;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.input-group i {
    color: white;
    margin-right: 10px;
}

.input-group input {
    border: none;
    background: transparent;
    outline: none;
    color: white;
    width: 100%;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff6600;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #cc5200;
}

.register-text {
    margin-top: 15px;
    color: white;
}

.register-text a {
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}

/* Senha" */
.forgot-password {
    margin-top: 10px;
    color: white;
}

.forgot-password a {
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Links no rodapé */
.footer-links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsividade para mobile */
@media (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    .logo {
        width: 100px; /* Ajuste para telas menores */
    }

    h2 {
        font-size: 18px;
    }

    
}