body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #000000, #ff6600); /* Gradiente vertical de preto para laranja */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* A altura da tela será 100% da altura da janela */
}

.container {
    background: #3a3a3a; /* Cor de fundo do container */
    padding: 40px; /* Aumentando o padding para mais espaço dentro do container */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(500, 500, 24, 0.5); /* Efeito de sombra */
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Para separar os campos */
    gap: 25px; /* Aumentando o espaçamento entre os campos */
}

h2 {
    color: white; /* Cor do texto do título */
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0; /* Aumentando a margem dos campos para separar mais */
    border: 1px solid #ccc; /* Borda para o campo de entrada */
    background: white; /* Fundo branco para o campo de entrada */
    color: black; /* Texto preto no campo de entrada */
    outline: none;
    border-radius: 5px;
}

button {
    background: #ff6600; /* Cor de fundo do botão */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #cc5200; /* Cor do botão ao passar o mouse */
}

::placeholder {
    color: rgba(0, 0, 0, 0.6); /* Cor do placeholder (texto dentro do campo de entrada) */
}
